@charset "UTF-8";
*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}
/* Colocando a cor branca nas palavras: (Home */
/* Cadastrar Aluno */
/* Pesquisar Aluno */
/* Sair) no menu  */
.nav-link{
	color: #fff
}

nav {
	height: 90px; 
}

a{
	cursor: pointer; 
	font-weight: bold;
}

/* Configuraçao da imagem de fundo da pagina */
.neo-section{
	min-height: 800px;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}

/* configuraçao dos botoes */
.wm{
	width: 50%;
	float: left;
}

/* configuraçao do texto Sistema de Gerenciamento de Alunos*/
.neo-container{
	max-width: 1280px;
	padding: 2% 2%;
	margin: 0 auto;
 	margin-top: 200px;  /*decendo os botoes e o texto */
}

/* limpando o ponto flutuante, mas se tira ainda vai funcionar */
.clear{
	clear: both;
}

/* colocando os botoes e o texto no centro da pagina */
.center{
	text-align: center;
}

/* configurando a sombra por cima da imagem de fundo */
.sombra{
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}

/* essa seçao fica em cima da sombra, se a nao colocar a sombra fica em cima e nao da para mexer */
.neo-section > .neo-container{
	position: relative;
	z-index: 105;
}

/* configurando o texto do centro */
.texto-centro{
	color: #fff;
	font-size: 3em;
	font-family: 'Windows';
	font-weight: bold;
}

/* configuraçoes dos botoes */
.btn{
	width: 180px;
	color: #fff;
	border-radius: 10px;
	border: 3px solid #a55eea;
	padding: 10px;
	font-weight: bold;
}

/* Juntandos os botoes para fica no centro */
.botoes{
	padding: 2% 15%;
}

/* mudando a cor quando passar o mouse */
.btn:hover{
	color: #C2185B;
	background-color: rgba(0,0,0,0.5);
}

/* configuraçoes do rodape */
.rodape{
	color: #fff;
	background-color: #4527A0;
	text-align: center;
	font-size: 1.25em;
	padding: 15px;
}