<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel ="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>+ Inserir Alunos</title>
<meta name = "author" content="Rodrigo Oliveira"/>
<!-- importando o Css -->
<link rel="stylesheet" href="css/style.css">
<!-- fontes -->
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

<!-- Pegando o cabecalho (header) que esta no fragmentos.html -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container">
		
	</div>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>