<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel ="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Project Academy</title>
<meta name = "author" content="Rodrigo Oliveira"/>
<!-- importando o Css -->
<link rel="stylesheet" href="css/style.css">
<!-- fontes -->
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

	<header>
				<!--Criando navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0">
				<!--Logo site -->
			<a class="navbar-brand" href="#">
				<img src="img/logo_header-site.png" width="200px">
			</a>
				<!-- Menu hamburgue -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="navMobile" class="navbar-collapse justify-content-end collapse">
		
				<a class="btn-nav nav-item nav-link"><i class="fas fa-home"></i> Home</a>
				<a class="btn-nav nav-item nav-link"><i class="fas fa-user-graduate"></i> Cadastrar Aluno</a>
				<a class="btn-nav nav-item nav-link"><i class="fas fa-search"></i> Pesquisar Aluno</a>
				<a class="btn-nav nav-item nav-link btn-danger"><i class="fas fa-times"></i> Sair</a>
				
			</div>
			
		</nav>
	</header>

         <!-- Seçao e a imagem de fundo da pagina-->
	<section class="neo-section" style="background-image: url('img/bg-index.jpg');">
	
		<!--Sombra por cima de imagem -->
		<div class="sombra"></div>
		
			<!--Texto -->
		<div class="center neo-container">
			<h1 class="texto-centro">Sistema de Gerenciamento de Alunos</h1>
		
		
		<!--Cor dos botoes -->
		<div class="botoes">
			
		<!--Botao 1 -->
		<div class="wm">
			<h5 class="btn">Cadastrar Aluno</h5>
		</div>
		
		<!--Botao 2 -->
		<div class="wm">
			<h5 class="btn justify-content-center">Encontrar Aluno</h5>
		</div>
		
		<!--Centralizando os botoes -->
		<div class="clear"></div>
		
		</div>
		
		</div>
	
	</section>
	
		<!--rodapé -->
		<footer>
			<div class="rodape">
				<span>Todos os direito - 2021 &copy; Rodrigo de Oliveira dos Santos</span>
			</div>
		</footer>
	
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>