<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel ="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Teste</title>
<meta name = "author" content="Rodrigo Oliveira"/>
</head>
<body>
	<p th:text="${MSG}"></p>

	<h1>Ola mundo</h1>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	<button class="btn btn-primary">Testando</button>

</body>
</html>